.button{
	border-radius: 5px;
	padding: 10px 16px;
	width: 100%;
	display: flex;
	justify-content: center;
	background: var(--primary-color);
	color: var(--light-color);

	&_open{
		width: fit-content;
		height: fit-content;
		// margin-left: auto;
	}
}