.input{
	border: 2px var(--primary-color) solid;
	border-radius: 5px;
	padding: 10px 16px;
	position: relative;
	width: 100%;

	&:invalid{
		border-color: var(--error-color);
	}

	&:focus{
		outline: 0;
	}
}